JavaBasics/src/person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.satya.com"
xmlns="https://www.satya.com"
elementFormDefault="qualified">

<xs:element name="Person">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="personId" type="xs:string"/>
      <xs:element name="gender" type="xs:string"/>
      <xs:element name="age" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>